.payment-page-no-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

.no-orders-message {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.return-checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    font-family: "Rubik", sans-serif;
    font-size: 14px;

    border: none;
    width: 200px;
    height: 50px;

    transition: 0.2s;
}

.return-checkout-button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.button-text-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

.payment-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Rubik", sans-serif;
}

.your-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    padding: 20px;
    width: 50%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.your-order-title {
    font-family: "Rubik Mono One", monospace;
    font-size:  40px;

    margin-bottom: 10px;
}

.your-order-edit-button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;

    width: 130px;
    height: 30px;

    margin-bottom: 20px;

    border: none;
    transition: 0.2s;
}

.your-order-edit-button:hover { 
    cursor: pointer;
    background: black;
    color: white;
}

.your-order-products-container {
    width: 70%;
    margin-bottom: 100px;
    margin-top: 10px;
}

.your-order-price {
    font-size: 26px;
    margin-bottom: 10px;
}

.payment-info-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.payment-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 85%;

    margin-bottom: 30px;
}

.payment-input-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 40%;

    /* border: 1px solid; */
}

.payment-short-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-field-large {
    border: none;
    padding: 5px;
    background: rgb(225, 225, 225);

    font-family: "Rubik", sans-serif;
}

.input-field-small {
    border: none;
    padding: 5px;
    background: rgb(225, 225, 225);

    font-family: "Rubik", sans-serif;

    width: 45%;
}


