/* Import google font: Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
	padding: 0px;
	margin: 0px;
  }
  
  .header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  
	height: 115px;
	line-height: 115px;

	color: white;
	background-color: black;
  }
  
  .UserName {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	margin-left: 10%;

	font-family: "Rubik", sans-serif;
	font-size: larger;

  }

  .Title {
	font-size: 50px;
	font-family: "Rubik Mono One", monospace;
	color: white;
	cursor: pointer;

  }
  
  .search-bag-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0;
	margin-right: 10%;

	font-size: 40px;
	color: white; 
	cursor: pointer;
  }

  .secondheader-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding-right: 1%;

	gap: 7%;
	

	height: 60px;	
	line-height: 60px;

	font-size: 25px;
	font-family: "Rubik Mono One", monospace;

	border: 1px solid black;
  }

  .Shirts{
	cursor: pointer;
  }

  .Hoodies{
	cursor: pointer;
  }

  .Pants{
	cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
	.Title {
		font-size: 30px;
	}
  }